<form action = "/birthday" method = "post">
    <div>
        What is your name?
    <input type = "text" name = "username" >
    </div>
    <div>
    <br>
        When is your birthday?
        <input type = "text" name = "date" >
        <input type = "submit" value = "Submit" >
    </div>
</form>