<h1>Hello <%= @username%> your birthday is on <%= @user_choice%> </h1>
<div> Today's date is <%= @todays_date%> </div>
<% if @user_choice == @todays_date_format%>
<br>
Happy Birthday!!!
<% else %>
<br>
Sorry <%= @username%>, today is not your birthday. Your birthday will be in  days
<%end%>